<Files .htaccess>
order allow,deny
deny from all
</Files>

<Files config.php>
order allow,deny
deny from all
</Files>

<Files admin.php>
order allow,deny
deny from all
</Files>

<Files delrevisions.php>
order allow,deny
deny from all
</Files>

<Files deloptions.php>
order allow,deny
deny from all
</Files>

<Files compress.php>
order allow,deny
deny from all
</Files>

<Files delspams.php>
order allow,deny
deny from all
</Files>

<Files gestionfile.php>
order allow,deny
deny from all
</Files>

<Files gestionfolder.php>
order allow,deny
deny from all
</Files>

<Files options.php>
order allow,deny
deny from all
</Files>

<Files sauvegarde.php>
order allow,deny
deny from all
</Files>